*{
    box-sizing: border-box;
    color: aliceblue;
    padding-top:1%;
    padding-bottom:1%;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}

nav{
    display: flex;
    background-color: rgb(99, 91, 91);
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: fixed;
}
#home{
    color: azure;
    margin-top: 10vh;
    max-width: 60%;
    padding: 30px;
    margin-left: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;

}
#home>div>button{
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3f8e00;
    border: 1px solid #62ba1b;
    box-shadow: 0px 8px 30px rgba(63,142,0,0.5);
    border-radius: 4px;
    width: 307px;
    font-size: 17px;
    letter-spacing: 1px;

}
#home>div>button:active{
    transform: scale(0.8);
}

#photo>img{
    position: absolute;
    width: 20%;
    right: 15%;
    top: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-position: 0%;
    
}

#a{
    width: 65vw;
    font-size: 30px;
    margin-right: 50px;
    margin-top: 10%;

}
.workwith-cont{
    display: flex;
    margin-top: 20px;
    marging-right: 60px;
    width: 65vw;
    marging-top: 200px;
    font-size: 20px;
    justify-content: space-between;

}

